@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --font: "Montserrat", sans-serif;
}

.montserrat {
  font-family: var(--font);
  font-weight: 600;
}

.prose img {
  margin: 0 auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}